<div id="mainDiv">
	<div class="logintext">
		<form [formGroup]="empLogin" (ngSubmit)="onSubmit()">
			<mat-form-field class="ff2" appearance="fill" floatLabel="always">
				<mat-label class="label">Current Password</mat-label>

				<input
					id="oldPass"
					class="fields"
					required
					matInput
					[type]="hide ? 'password' : 'text'"
					formControlName="oldPass"
				/>

				<button
					type="button"
					class="eyebtn"
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon class="eyebtn">{{
						hide ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error
					*ngIf="empLogin.controls['oldPass'].errors?.['required']"
					>Password is Required</mat-error
				>
			</mat-form-field>

			<mat-form-field class="ff2" appearance="fill" floatLabel="always">
				<mat-label class="label">New Password</mat-label>

				<input
					id="newPass"
					class="fields"
					required
					matInput
					[type]="hide ? 'password' : 'text'"
					formControlName="newPass"
				/>

				<button
					type="button"
					class="eyebtn"
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon class="eyebtn">{{
						hide ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error
					*ngIf="empLogin.controls['newPass'].errors?.['required']"
					>Password is Required</mat-error
				>
				<mat-error
					*ngIf="empLogin.controls['newPass'].errors?.['minlength']"
					>Password must be at least 10 characters</mat-error
				>
			</mat-form-field>

			<div class="subbutton">
				<button
					class="btn btn-warning"
					type="button"
					color="accent"
					(click)="onSubmit()"
				>
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
