
  .logintext{
    display:flex;
    flex-direction: column;
    
    background-color: #475B63;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 20px;
    padding: 20px 20px;
  }
  
  mat-form-field {
    display:flex;
    flex-direction: column;
  }
  
  #mainDiv{
    padding-top: 100px;
  }
  
  .inner{
    color:white;
    text-align: center;
    margin-top: 40px;

  }
  .example-right-align {
    text-align: left;
  
  }

  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
    
  }

  .label{
    color:white;
    
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: grey;
  }

  .subbutton{
    text-align: center;
    padding: 10px;
  }