  
  .ff1 {
    
    width: 250px;
  
  
  }
  .ff2 {
    
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:0px;
    
  }

  .logintext{
    color: white;
    background-color: rgb(47,47,60);
    width: 500px;
    height: 400px;
    margin: auto;
    border-style: solid;
    border-color: white;
    border-radius: 20%;
  }
  .inner{
    color:white;
    text-align: center;
    margin-top: 40px;

  }
  .example-right-align {
    text-align: left;
  
  }

  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
    
  }

  .label{
    color:white;
    
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: grey;
  }

  .subbutton{
    text-align: center;
    padding: 10px;
  }